@import "tailwindcss";

*{
  box-sizing:border-box ;
}
@theme{
  --color-pacifika : #6e7d1f ;
  --color-sushi :#A7A939 ;
  --color-ch : #FAF3CC ;
  --color-ivory : #fbffec;
  --color-saratoga : #535faa ;
}
.button { @apply inline-block p-4 rounded-xl  bg-pacifika text-ivory text-2xl font-bold border-2 border-pacifika hover:text-sushi }
.button-secondary { @apply  inline-block p-4 rounded-xl  bg-saratoga text-ch text-2xl font-bold}
.heading{@apply text-6xl text-center mb-8}

.input{
  @apply border-saratoga border p-2 my-2 rounded-xl
}